vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Dec 2001 20:47:56 -0000
vti_extenderversion:SR|4.0.2.3406
vti_nexttolasttimemodified:TR|24 Mar 2001 19:50:33 -0000
vti_author:SR|usr125068
vti_timecreated:TR|03 Apr 2001 13:06:38 -0000
vti_backlinkinfo:VX|onlineforms/forms/expenses_complete.asp onlineforms/forms/generalinformation_edit.asp onlineforms/forms/performance_complete.asp onlineforms/forms/yearly.asp onlineforms/forms/login.asp onlineforms/forms/specialpopulations_edit.asp onlineforms/forms/staff_edit_old.asp onlineforms/forms/performancebaseline_edit.asp onlineforms/forms/boardmembers_edit.asp onlineforms/forms/generalinformation_complete.asp onlineforms/forms/index.asp onlineforms/forms/monthly.asp onlineforms/forms/boardmembers_complete.asp onlineforms/forms/expenses_edit.asp onlineforms/forms/income_complete.asp onlineforms/forms/income_edit.asp onlineforms/forms/performance_edit.asp onlineforms/forms/specialpopulations_complete.asp onlineforms/forms/specialprograms_edit.asp onlineforms/forms/staff_edit.asp onlineforms/forms/specialprograms_complete.asp onlineforms/forms/staff_complete.asp onlineforms/forms/performancebaseline_complete.asp
vti_syncwith_localhost\\w\:/w\::TR|24 Mar 2001 19:50:00 -0000
vti_cacheddtm:TX|12 Dec 2001 20:47:56 -0000
vti_filesize:IR|1730
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_syncwith_www.bbbsa.org\:80:TR|24 Mar 2001 19:50:00 -0000
